{% extends "layouts/base.html" %}

{% block content %}
  <div class="titelhome">
   	<h2 class="hometitel">{{ title }}</h2>
    <h3 class="ondertitel">{{ ondertitel }}</h3>
  </div>
  <div class="bodytekst2">
    {% for item in pagination.items %}
    <div class="blog">
      <div class="bloglink">
        <img class="fotopost" src="{{ item.data.afbeelding }}"/>
        <div class="infopost">
          <a class="blogtitel" href="{{ item.url }}">{{ item.data.overviewtitel }}</a>
          <a class="blogdate" href="{{ item.url }}">{{ item.data.datum }}</a>
          <a href="{{ item.url }}">{{ item.data.description }}</a>
          <a class="blogbutton" href="{{ item.url }}">{{ item.data.button }}</a>
        </div>
     </div>
    {%- endfor -%}
    </div>
  </div>
   {% include "partials/pagination.html" %}
{% endblock %}
