{% extends "layouts/base.html" %}

{% block content %}
  <div class="bodytekst">
    <h3>Blogpost: {{ title }}, {{ datum }}</h3>
    <div class="about">
      <div>
        <img class="afbeeldingabout" src="{{ afbeeldingabout }}">
      </div>
      <div class="blogpost">
        <h4 class="blogh4">{{ ondertitel }}</h4>
        {{ content | safe }}
      </div>
    </div>
  </div>
  <div class="column">
    <img src="{{ afbeelding1 }}">
    <img src="{{ afbeelding2 }}">
    <img src="{{ afbeelding3 }}">
    <img src="{{ afbeelding4 }}">
    <img src="{{ afbeelding5 }}">
    <img src="{{ afbeelding6 }}">
  </div>

  </div>
{% endblock %}
