body {
	margin: 5rem auto;
	font-size: 2rem;
	font-family:'Cormorant Garamond', serif;
	background-color: #F8F9F6;
}

/* HEADER */

header h1 {
	text-align: center;
}

header h1 a {
	color: black;
	text-decoration: none;
	font-size: 3rem;
	font-weight: 300;
}

header {
	padding-bottom: 4rem;
	border-bottom: .1rem solid black;
	margin-bottom: 5rem;
}

header nav ul {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

header nav ul li {
	margin-top: 1rem;
}

header nav ul li a {
	color: black;
	font-size: 1.5rem;
	text-decoration: none;
}

header nav ul li a.selected {
	text-decoration: underline;
}

header nav ul li a:hover {
	text-decoration: underline;
}

/* MAIN */

.bodytekst {
	width: 80vw;
	margin: 5rem auto;
}

.hometitel {
	text-align: center;
	font-size: 6rem;
	padding-top: 5rem;
}

.ondertitel {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	font-size: 1.3rem;
	padding-bottom: 10rem;
}

main h2 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

main p {
	line-height: 3rem;
	margin-bottom: 3rem;
}

img {
	max-width: 100%;
}

main img {
	display: block;
	margin: 0 auto 3rem auto;
}

main h3 {
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

/* BLOG PAGE */

.bloglink a {
	text-decoration: none;
	display: block;
	color: black;
	padding-bottom: 2rem;
}

.bloglink {
	margin-bottom: 2rem;
	border: .1rem solid black;
	padding: 3rem;
}

.blog {
	margin-bottom: 5rem;
}

.blogtitel {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 3rem;
}



/* BLOGPOST */

.blogpost h4 {
	font-size: 6rem;
	text-transform: uppercase;
	padding-bottom: 3rem;
	padding-top: 5rem;
}

.about {
	margin-top: 6rem;
	margin-bottom: 10rem;
}

/* HOME */

.titelhome {
	border-bottom: .1rem solid black;
}

.recentposts {
	border-bottom: .1rem solid black;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.recentposts p {
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: 100;
}

.recentposts a {
	text-decoration: none;
	color: black;
}

.recentpostkader {
	text-align: center;
	border-bottom: .1rem solid black;
}

.recentpostkader a {
	font-size: 4rem;
	font-weight: 300;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	display: block;
	padding-top: 4rem;
}

.afbeeldingrecent1 {
	width: 35rem;
	height: 30rem;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(/img/post1img1.jpg);
}

.afbeeldingrecent2 {
	width: 35rem;
	height: 30rem;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
		background-image: url(/img/post2img1.png);
}

.kader1, .kader2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}



/* FOOTER */

footer {
	border-top: .1rem solid black;
	padding-top: 4rem;
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.3rem;
}

@media (min-width: 800px) {
	header nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 20rem;
		margin-top: 0;
	}

	header nav ul li {
		margin-top: 0;
	}

	header nav {
		position: absolute;
		top: 5.5rem;
		right: 10vw;
	}

	/* BLOGPOST */

	.about {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 10rem;
	}

	h4 {
		padding-top: 8rem;
	}

	.column {
		column-count: 3;
	}

	/* BLOGPAGINA */

	.blog {
		column-count: 3;
		column-gap: 5rem;
	}

	.blog li {
		break-inside: avoid;
	}

	/* HOME */

	.recentpostkader {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.kader1 {
		border-right: .1rem solid black
	}

	.afbeeldingrecent1, .afbeeldingrecent2  {
		width: 65rem;
		height: 60rem;
	}

	.recentpostkader a {
		display: block;
		width: 65rem;
		margin: auto;
	}

	.recentposts {
		position: relative;
	}

	.knopall {
		position: absolute;
		right: 5rem;
		top: 6rem;
	}
}
